<%- model_class = Costumer -%>
<div class="page-header">
  <h1><%=t '.title', :default => Costumer %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:telefon) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @costumers.each do |costumer| %>
      <tr>
        <td><%= costumer.id %></td>
        <td><%= costumer.address %></td>
        <td><%= costumer.telefon %></td>
        <td><%= costumer.priority %></td>
        <td><%=l costumer.created_at, format: :long %></td>
        <td><%= link_to 'Show', costumer, :class => 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_costumer_path(costumer), :class => 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destroy', costumer, method: :delete, 
        data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_costumer_path,
            :class => 'btn btn-primary' %>
