<%= form_for @restriction, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :problem, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :problem, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dynamic, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :dynamic, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :multi_vehicle, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :multi_vehicle, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_window, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :time_window, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :capacity_restriction, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :capacity_restriction, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :priorities, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :priorities, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :work_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :work_time, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  restrictions_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
