<%- model_class = Restriction -%>
<% if current_user && ( current_user.is_admin? || (current_user.is_superadmin? && current_user.company_id?))%>
  <div class="page-header">
    <h1>Beschränkungen</h1>
  </div>
  <% if current_user.company.nil? %>
    <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher keine Beschränkungen anlegen.</div>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="center"><%= model_class.human_attribute_name(:problem) %></th>
          <th class="center"><%= model_class.human_attribute_name(:dynamic) %></th>
          <th class="center"><%= model_class.human_attribute_name(:multi_vehicle) %></th>
          <th class="center"><%= model_class.human_attribute_name(:time_window) %></th>
          <th class="center">Kapazität</th>
          <th class="center"><%= model_class.human_attribute_name(:priorities) %></th>
          <th class="center"><%= model_class.human_attribute_name(:work_time) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @restrictions.each do |restriction| %>
            <tr>
              <td class="center"><%= restriction.problem %></td>
              <td class="center"><div class="active_circle_<%= restriction.dynamic %>"></div></td>
              <td class="center"><div class="active_circle_<%= restriction.multi_vehicle %>"></div></td>
              <td class="center"><div class="active_circle_<%= restriction.time_window %>"></div></td>
              <td class="center"><div class="active_circle_<%= restriction.capacity_restriction %>"></div></td>
              <td class="center"><div class="active_circle_<%= restriction.priorities %>"></div></td>
              <td class="center"><div class="active_circle_<%= restriction.work_time %>"></div></td>
              <td>
                <%= link_to (fa_icon "pencil 1x"), edit_restriction_path(restriction), :title => t('helpers.links.edit'), :class => 'btn btn-warning btn-xs' %>
              </td>
            </tr>

        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
