<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @restriction.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @restriction.user %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @restriction.problem %>
</p>

<p>
  <strong>Dynamic:</strong>
  <%= @restriction.dynamic %>
</p>

<p>
  <strong>Multi vehicle:</strong>
  <%= @restriction.multi_vehicle %>
</p>

<p>
  <strong>Time window:</strong>
  <%= @restriction.time_window %>
</p>

<p>
  <strong>Capacity restriction:</strong>
  <%= @restriction.capacity_restriction %>
</p>

<p>
  <strong>Priorities:</strong>
  <%= @restriction.priorities %>
</p>

<p>
  <strong>Work time:</strong>
  <%= @restriction.work_time %>
</p>

<%= link_to 'Edit', edit_restriction_path(@restriction) %> |
<%= link_to 'Back', restrictions_path %>
