<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<% if defined?(Devise) %>
        <% if user_signed_in? %>
                <% if current_user.company_id? %>
	      <li class="divider"></li>
              <li><%= link_to image_tag('Tour.svg') + "Touren", tours_path %></li>
              <li class="divider"></li>
              <li><%= link_to image_tag('Order.svg') + "Aufträge", orders_path %></li>
              <li class="divider"></li>
              <li><%= link_to image_tag('Customer.svg') + "Kunden", customers_path %></li>
              <li class="divider"></li>
              <li><%= link_to image_tag('Driver.svg') + "Fahrer", drivers_path %></li>
              <li class="divider"></li>
              <li><%= link_to image_tag('Vehicle.svg') + "Fahrzeuge", vehicles_path %></li>
              <li class="divider"></li>
              <li><%= link_to image_tag('Depot.svg') + "Depots", depots_path %></li>
              <% end %>
        <% else %>
          <!-- Sollte nicht der Fall sein -->
        <% end %>
      <% end %>
          </ul>
        </li>          
      </ul>
    </div>
</nav>