<%- model_class = Tour -%>
<% if current_user.is_admin? || current_user.is_planer? || current_user.is_driver? || (current_user.is_superadmin? && current_user.company_id?)%>
  <% if current_user.company.nil? %>
    <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher keine Tour anlegen.</div>
  <% else %>
    <% if current_user.company.google_maps_api_key.blank? && !current_user.is_driver? %>
      <div class="alert alert-warning"><%= t('tours.no_google_maps_api_key_assigned') %></div>
      <script>
          $( document ).ready(function() {
              disableButton($('#btn_new_tour'));
          });
      </script>
    <% end %>
    <% if current_user.company.available_drivers.blank? && !current_user.is_driver? %>
      <div class="alert alert-warning"><%= t('tours.no_available_drivers_html') %></div>
      <script>
          $( document ).ready(function() {
              disableButton($('#btn_new_tour'));
          });
      </script>
    <% end %>
    <div class="page-header">
      <h1><%=t '.title', :default => Tour %></h1>
    </div>
        <% if current_user.is_admin? || current_user.is_planer? || (current_user.is_superadmin? && current_user.company_id?)%>
    <%= form_tag new_tour_path, method: :get do %>
      <b style="font-size: 15px;"><%= t('.generate_new_tours_hint') %></b>
      <% if  current_user.company.restriction.present? && (current_user.company.restriction.problem == "DP" || current_user.company.restriction.problem == "PDP" ) %>
      <%= label_tag :order_type_delivery, t('orders.types.delivery') %>
      <%= check_box_tag :order_type_delivery, 1, true %>
      <% end %>
      <% if  current_user.company.restriction.present? && (current_user.company.restriction.problem == "PP" || current_user.company.restriction.problem == "PDP" ) %>
      <%= label_tag :order_type_pickup, t('orders.types.pickup') %>
      <%= check_box_tag :order_type_pickup, 1, true %>
      <% end %>
      <%= label_tag :order_type_service, t('orders.types.service') %>
      <%= check_box_tag :order_type_service, 1, true %>
      <%= button_tag type: 'submit', name: nil, id: 'btn_new_tour', class: 'btn btn-primary btn-smart', data: { disable_with: "<i class='fa fa-refresh fa-spin'>
      </i> " + t('.please_wait_while_generating') } do %>
        <%= ((fa_icon "calculator 1x") + " " + t('tours.generate_new_tours')) %>
      <% end %>
    <% end %>
    <% end %>
    <div style="float: right;">
    <%= form_tag tours_path, method: :get do %>
      <%= label_tag :status, t('.filter_tour_status') %>
      <%= select_tag :status, options_for_select([[t('tours.status.approved'), StatusEnum::APPROVED], [t('tours.status.started'), StatusEnum::STARTED], [t('orders.status.completed'), StatusEnum::COMPLETED]], params[:status]), prompt: t('tours.filter_tour_status_default'), onchange: "this.form.submit();", class: 'tour_status_filter' %>
    <% end %>
    </div>
    <div class="tab-content">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Fahrer</th>
          <th class="center">Dauer<br/>[hh:mm]</th>
          <th class="center">Anfahrpunkte</th>
          <th>Status</th>
          <th>Erstellt am</th>
          <th>Abgeschlossen am</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
        </thead>
        <tbody>
        <% @tours.each do |tour| %>
            <tr>
              <td><%= (Driver.where(id: tour.driver_id).first).name %></td>
              <td class="center"><%= Time.at(tour.duration * 60).utc.strftime("%H:%M") %></td>
              <td class="center"><%= tour.order_tours.count %></td>
              <td><%= get_tour_status_as_string(tour.status) %></td>
              <td><%=l tour.created_at, format: :long %></td>
              <td><%= tour.completed? ? l(tour.completed_at, format: :long) : "-" %></td>
              <td>
                <%= link_to (fa_icon "search-plus 1x"), tour, :title =>  t('helpers.links.show'), :class => 'btn btn-info btn-xs' %>
                <%= link_to (fa_icon "trash 1x"), tour, method: :delete, data: { confirm: t('.confirm', name: tour.id) }, :title => t('helpers.links.destroy'), :class => 'btn btn-danger btn-xs' unless current_user.is_driver? %>
              </td>
            </tr>
        <% end %>
        <tr>
          <td></td>
          <td class="center"><strong><%= Time.at(@tours.inject(0){ |sum, x| sum + x.duration * 60 }).utc.strftime("%H:%M") %></strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="page-nav">
      <%= paginate @tours %>
    </div>
  <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
