<%- model_class = Tour -%>
<% if current_user %>
    <% if current_user.is_admin? || current_user.is_planer?%>
      <div class="page-header">
        <h1><%=t '.title', :default => Tour %></h1>
      </div>
      <% if current_user.company.google_maps_api_key.nil? || current_user.company.google_maps_api_key.empty? %>
        <div class="alert alert-warning">Ihrem Unternehmen wurde noch kein Google Maps API Key zugewiesen.</div>
      <% end %>
      <% if current_user.company.nil? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher keine Tour anlegen.</div>
      <% else %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_tour_path,:class => 'btn btn-primary new_btn btn-smart' %>
        <div class="loader"><%= image_tag "ajax-loader.gif" %></div>
        <hr/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fahrer</th>
              <th class="center">Dauer<br/>[hh:mm:ss]</th>
              <th class="center">Anfahrpunkte</th>
              <th>Algorithmus</th>
              <th>Erstellt am</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @tours.each do |tour| %>
              <tr>
                <td><%= (Driver.where(id: tour.driver_id).first).name %></td>
                <td class="center"><%= Time.at(tour.duration * 60).utc.strftime("%H:%M:%S") %></td>
                <td class="center"><%= tour.order_tours.count %></td>
                <td><%= ToursHelper.get_algorithm_display_text(tour.algorithm) %></td>
                <td><%=l tour.created_at, format: :long %></td>
                <td>
                  <%= link_to t('helpers.links.show'), tour, :class => 'btn btn-info btn-xs' %>
                  <%= link_to t('helpers.links.destroy'), tour, method: :delete, data: { confirm: t('helpers.links.confirm') }, :class => 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td class="center"><strong><%= Time.at(@tours.inject(0){ |sum, x| sum + x.duration * 60 }).utc.strftime("%H:%M:%S") %></strong></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <script>
          $(function(){
            $('.loader').hide();
            $('.new_btn').on('click', function(){
              $('.loader').show();
            })
          })
        </script>
      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
