<%- model_class = Tour -%>
<% if current_user %>
  <% if current_user.is_admin? || current_user.is_planer? || current_user.is_driver? || (current_user.is_superadmin? && current_user.company_id?)%>
  <div class="page-header">
    <h1><%=t '.title', :default => Tour %></h1>
  </div>
  <% if current_user.company.google_maps_api_key.blank? %>
      <div class="alert alert-warning"><%= t('tours.no_google_maps_api_key_assigned') %></div>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fahrer</th>
        <th>Dauer</th>
        <th>Anfahrpunkte</th>
        <th>Erstellt am</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @tours.each do |tour| %>
        <tr>
          <td><%= tour.id %></td>
          <td><%= tour.driver_id %></td>
          <td><%= tour.duration %></td>
          <td><%= tour.order_tours.count %></td>
          <td><%=l tour.created_at, format: :long %></td>
          <td><%= link_to t('helpers.links.show'), tour, :class => 'btn btn-info btn-xs' %></td>
          <td><%= link_to t('helpers.links.destroy'), tour, method: :delete, 
          data: { confirm: t('helpers.links.confirm') }, :class => 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_tour_path,
              :class => 'btn btn-primary' %>
  <% else %>
  ZUGANG VERWEIGERT
  <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
