<%- model_class = Tour -%>
<h2>Tourenplan</h2>

<h3>Fahrer: <%= @tour.driver.name %> | Datum: <%= Date.today.strftime("%d.%m.%Y") %></h3>

<div class="fieldset">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="center">#</th>
      <th>Kunde</th>
      <th class="center"><%= model_class.human_attribute_name(:duration) %><br/>[hh:mm]</th>
      <th>Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    <% @order_tours.each do |order_tour| %>
      <tr id="orderTour-<%= order_tour.id %>" class="unsortable print">
        <td class="center"><b><%= order_tour.place + 1 %>.</b></td>
        <td>
          <% if ["pickup", "delivery"].include?(order_tour.kind) %>
              <b><%= order_tour.order.customer.name %></b><br>
          <% end %>
          <%= order_tour.location %>
        </td>
        <td class="center"><%= Time.at(order_tour.duration * 60).utc.strftime("%H:%M") %></td>
        <td><%= order_tour.comment %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td class="center"><strong><%= Time.at(@order_tours.inject(0){ |sum, x| sum + x.duration * 60 }).utc.strftime("%H:%M") %></strong></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div style='width: 100%'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>

</div>
<script>
    function initMap() {
        createMap(document.getElementById('map'));

        <% @order_tours.each_with_index do | order_tour, index | %>
        setMarker(parseFloat(<%= order_tour.latitude %>), parseFloat(<%= order_tour.longitude %>),"<%= order_tour.place + 1 %>");
        <% if (index < @order_tours.length - 1) %>
        var origin = {lat:<%= @order_tours[index].latitude.blank? ? 0 : @order_tours[index].latitude %>, lng: <%= @order_tours[index].longitude.blank? ? 0 : @order_tours[index].longitude %>};
        var destination = {lat: <%= @order_tours[index + 1].latitude.blank? ? 0 : @order_tours[index + 1].latitude %>, lng: <%= @order_tours[index + 1].longitude.blank? ? 0 : @order_tours[index + 1].longitude %>};
        setRoute(origin, destination);
        <% end %>
        <% end %>
    }
    initMap();
</script>
