<%- model_class = Order -%>
<% if current_user %>
    <% if current_user.is_admin? || current_user.is_planer?%>
      <div class="page-header">
        <h1><%=t '.title', :default => Order %></h1>
      </div>
      <% if current_user.company.try(:customers).blank? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurden noch keine Kunden zugewiesen. Sie können daher kein Auftrag anlegen.</div>
      <% else %>
	      <%= link_to t('.new', :default => t("orders.new.title")), new_order_path, :class => 'btn btn-primary btn-smart' %>
        <input id="fileUpload" type="file" style="display:none;" />
        <input id="import_button" type="button" class="btn btn-primary btn-smart" value="<%= t('.new', :default => t("orders.index.import")) %>" onclick="document.getElementById('fileUpload').click();" />
        <hr/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Abholort</th>
              <th class="center">Einladedauer<br/>[hh:mm:ss]</th>
              <th>Lieferort</th>
              <th class="center">Ausladedauer<br/>[hh:mm:ss]</th>
              <th class="center">Kapazität</th>
              <th class="center">Priorität</th>
              <th class="center">Aktiv</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.pickup_location %></td>
                <td class="center"><%= Time.at(order.duration_pickup * 60).utc.strftime("%H:%M:%S") %></td>
                <td><%= order.delivery_location %></td>
                <td class="center"><%= Time.at(order.duration_delivery * 60).utc.strftime("%H:%M:%S") %></td>
                <td class="center"><%= order.capacity %></td>
                <% if order.customer %>
                    <td class="center"><%= order.customer.priority %></td>
                <% else %>
                    <td class="center">keine</td>
                <% end %>
                <td class="center"><div class="active_circle_<%= order.active %>"></div></td>
                <td>
                  <%= link_to t('helpers.links.show'), order, :class => 'btn btn-info btn-xs' %>
                  <%= link_to t('helpers.links.edit'), edit_order_path(order), :class => 'btn btn-warning btn-xs' %>
                  <%= link_to t('helpers.links.destroy'), order, method: :delete, data: { confirm: t('helpers.links.confirm') }, :class => 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td class="center"><strong><%= Time.at(@orders.inject(0){ |sum, x| sum + x.duration_pickup * 60 }).utc.strftime("%H:%M:%S") %></strong></td>
              <td></td>
              <td class="center"><strong><%= Time.at(@orders.inject(0){ |sum, x| sum + x.duration_delivery * 60 }).utc.strftime("%H:%M:%S") %></strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
<script type="text/javascript" charset="utf-8">
    $('input[type=file]').change(function() {
        // todo: upload the selected file, run import method in orders controller
    });
</script>