<% if current_user.is_admin? || (current_user.is_superadmin? && current_user.company_id?) %>
  <% tour_start_time = @company.default_tour_start.split(':') %>
  <%= simple_form_for @company, validate: true do |f| %>
    <%= f.input :name, prompt: :translate %>
    <%= f.input :address, prompt: :translate, input_html: { id: 'address' } %>
    <%= f.hint  t('.address_hint', :model => Company) %>
    <% if @company.new_record? %>
    <%= f.input :email, prompt: :translate %>
    <% end %>
    <%= f.input :telefon, prompt: :translate %>
    <div class="form-group">
      <%= f.label :default_tour_start %>
      <div class="form-inline">
        <%= f.input :default_tour_start_hour, collection: (0..23), as: :fake_select,  selected: tour_start_time[0], label: false, input_html: { name: 'company[default_tour_start_hour]', maxlength: 2 } %>
        <b>:</b>
        <%= f.input :default_tour_start_minute, collection: (0..59), as: :fake_select, selected: tour_start_time[1], label: false, input_html: { name: 'company[default_tour_start_minute]', maxlength: 2 } %>
        <b><%= t('companies.tour_start.time') %></b><br />
      </div>
    </div>
    <%= f.input :google_maps_api_key, prompt: :translate %>
    <%= f.hint t('.google_maps_key_hint', :model => Company) %>
    <%= f.label :logo %> <br/>
    <% if @company.logo.present? %>
      <%= image_tag @company.logo.url(:thumb), id: 'current_company_logo' %>
      <%= button_tag type: 'button', id: 'delete_company_logo', class: 'btn btn-danger btn-xs', onclick: "deleteCompanyLogo(#{@company.id})" do %>
          <%= (fa_icon "trash 1x") %>
      <% end %>
    <% end %>
    <%= f.input :logo, as: :file, title: t('.upload_logo'), label: false %>
    <%= f.hint t('.company_logo_hint', :model => Company) %>
    <%= f.button :submit, prompt: :translate %>
    <% end %>
<% elsif current_user.is_superadmin? && !current_user.company_id? %>
    <% tour_start_time = @company.default_tour_start.split(':') %>
    <%= simple_form_for @company, validate: true do |f| %>
        <%= f.input :name, prompt: :translate %>
        <%= f.input :address, prompt: :translate, input_html: { id: 'address' } %>
        <%= f.hint t('.address_hint', :model => Company) %>
        <%= f.input :email, prompt: :translate %>
        <%= f.input :telefon, prompt: :translate %>
        <div class="form-group">
          <%= f.label :default_tour_start %>
          <div class="form-inline">
            <%= f.input :default_tour_start_hour, collection: (0..23), as: :fake_select, selected: tour_start_time[0], label: false, input_html: {  name: 'company[default_tour_start_hour]', maxlength: 2 } %>
            <b>:</b>
            <%= f.input :default_tour_start_minute, collection: (0..59), as: :fake_select, selected: tour_start_time[1], label: false, input_html: { name: 'company[default_tour_start_minute]' ,maxlength: 2 } %>
            <b>Uhr</b><br />
          </div>
        </div>
        <%= f.input :google_maps_api_key, prompt: :translate %>
        <%= f.hint t('.google_maps_key_hint', :model => Company) %>
        <%= f.label :logo %> </br>
        <% if @company.logo.exists? %>
          <%= image_tag @company.logo.url(:thumb), id: 'current_company_logo' %>
          <%= button_tag type: 'button', id: 'delete_company_logo', class: 'btn btn-danger btn-xs', onclick: 'deleteCompanyLogo()' do %>
              <%= (fa_icon "trash 1x") %>
          <% end %>
        <% end %>
        <%= f.input :logo, as: :file, prompt: :translate, label: false %>
        <%= f.hint t('.company_logo_hint', :model => Company) %>
        <%= f.button :submit, prompt: :translate %>
    <% end %>
<% end %>

