<%- model_class = Company -%>
<% if current_user && (current_user.is_admin? || (current_user.is_superadmin? && current_user.company_id?))%>
  <% if current_user.company_id == @company.id%>
          <div class="page-header">
      <h1><%=t '.title', :default => Company %></h1>
    </div>
    <div class="fieldset">
      <dl>
        <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
        <dd><pre class="prettyprint"><%= @company.name %></pre></dd>
        <dt class="label label-default"><%= model_class.human_attribute_name(:address) %></dt>
        <dd><pre class="prettyprint"><%= @company.address %></pre></dd>
        <dt class="label label-default"><%= model_class.human_attribute_name(:email) %></dt>
        <dd><pre class="prettyprint"><%= @company.email %></pre></dd>
        <dt class="label label-default"><%= model_class.human_attribute_name(:telefon) %></dt>
        <dd><pre class="prettyprint"><%= @company.telefon %></pre></dd>
        <dt class="label label-default"><%= model_class.human_attribute_name(:default_tour_start) %></dt>
        <dd><pre class="prettyprint"><%= @company.default_tour_start %></pre></dd>
        <dt class="label label-default"><%= model_class.human_attribute_name(:google_maps_api_key) %></dt>
        <dd><pre class="prettyprint"><%= @company.google_maps_api_key %></pre></dd>
        <% if @company.logo? %>
          <%= image_tag @company.logo.url %>
        <% end %>
      </dl>
    </div>

      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_company_path(@company), :class => 'btn btn-default' %>
  </div>
  <% else %>
        <div class="alert alert-danger">Falsches Unternehmen!</div>
      ZUGANG VERWEIGERT
  <% end %>
<% else %>
  ZUGANG VERWEIGERT
<% end %>