<%= form_for(@order_tour) do |f| %>
  <% if @order_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_tour.errors.count, "error") %> prohibited this order_tour from being saved:</h2>

      <ul>
      <% @order_tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :tour_id %><br>
    <%= f.text_field :tour_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.number_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
