<% if current_user.is_admin? || (current_user.is_superadmin? && current_user.company_id?) || current_user.is_planer? %>
  <%= simple_form_for @driver do |f| %>
    <%= f.input :name, prompt: :translate, :disabled => true %>
    <div id="working_time_heading"><b><%=t('attributes.working_time') %></b></div>
    <%= f.hidden_field :working_time, as: :integer, prompt: :translate %>

     <div class="form-inline">

       <div class="form-group">
          <div class="form-inline">   
          <%= f.input :hour, collection: (0..23), :selected => (@driver.hour ? @driver.hour : 0),label: false %>
          <b>:</b>
          </div>
        <%=t('attributes.hours') %>
       </div>

       <div class="form-group">
          <div class="form-inline">   
          <%= f.input :minute, collection: (0..59), :selected => (@driver.minute ? @driver.minute : 0), label: false  %>
          </div>
      <%=t('attributes.minutes') %>
       </div> 
    </div>
    <%= f.input :active, prompt: :translate %>
    <%= f.button :submit, prompt: :translate %>
  <% end %>
<% end %>
