<%- model_class = Driver -%>
<% if current_user %>
    <% if current_user.is_admin? || current_user.is_planer? || (current_user.is_superadmin? && current_user.company_id?)%>
      <div class="page-header">
        <h1>Fahrer</h1>
      </div>
      <% if current_user.company.nil? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher keinen Fahrer anlegen.</div>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th class="center">Aktiv</th>
              <th class="center">Arbeitszeit</th>
              <th>Erstellt am</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.name %></td>
                <td class="center"><div class="active_circle_<%= driver.active %>"></div></td>
                <td class="center"><%= Time.at(driver.working_time * 60).utc.strftime("%H:%M:%S") %></td>
                <td><%=l driver.created_at, format: :long %></td>
                <td>
                  <%= link_to (fa_icon "search-plus 1x"), driver, :title =>  t('helpers.links.show'), :class => 'btn btn-info btn-xs' %>
                  <%= link_to (fa_icon "pencil 1x"), edit_driver_path(driver), :title => t('helpers.links.edit'), :class => 'btn btn-warning btn-xs' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
