<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => Driver %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:work_start_time) %></th>
      <th><%= model_class.human_attribute_name(:work_end_time) %></th>
      <th><%= model_class.human_attribute_name(:activ) %></th>
      <th><%= model_class.human_attribute_name(:working_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.id %></td>
        <td><%= driver.work_start_time %></td>
        <td><%= driver.work_end_time %></td>
        <td><%= driver.activ %></td>
        <td><%= driver.working_time %></td>
        <td><%=l driver.created_at, format: :long %></td>
        <td>
          <%= link_to driver_path(driver), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to driver_path(driver), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_driver_path,
            :class => 'btn btn-primary' %>
