<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => Driver %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:work_start_time) %></th>
      <th><%= model_class.human_attribute_name(:work_end_time) %></th>
      <th><%= model_class.human_attribute_name(:activ) %></th>
      <th><%= model_class.human_attribute_name(:working_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.id %></td>
        <td><%= driver.name %></td>
        <td><%= driver.work_start_time %></td>
        <td><%= driver.work_end_time %></td>
        <td><%= driver.activ %></td>
        <td><%= driver.working_time %></td>
        <td><%=l driver.created_at, format: :long %></td>
        <td><%= link_to 'Show', driver, :class => 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver), :class => 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, 
        data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_driver_path,
            :class => 'btn btn-primary' %>
