<%- model_class = Driver -%>
<% if current_user %>
    <% if current_user.is_admin? || current_user.is_planer? %>
      <div class="page-header">
        <h1>Fahrer</h1>
      </div>
      <% if current_user.company.nil? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher keinen Fahrer anlegen.</div>
      <% else %>
       <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_driver_path,
                    :class => 'btn btn-primary' %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Bezeichnung</th>
              <th>Name</th>
              <th>Aktiv</th>
              <th>Arbeitszeit</th>
              <th>Erstellt am</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.id %></td>
                <td><%= driver.name %></td>
                <% if driver.user %>
                <td><%= driver.user.username %></td>
                <% else %>
                <td></td>
                <% end %>
                <td><%= driver.activ %></td>
                <td><%= driver.working_time %></td>
                <td><%=l driver.created_at, format: :long %></td>
                <td><%= link_to t('helpers.links.show'), driver, :class => 'btn btn-info btn-xs' %></td>
                <td><%= link_to t('helpers.links.edit'), edit_driver_path(driver), :class => 'btn btn-warning btn-xs' %></td>
                <td><%= link_to t('helpers.links.destroy'), driver, method: :delete,
                data: { confirm: t('helpers.links.confirm') }, :class => 'btn btn-danger btn-xs' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
