<%- model_class = Vehicle -%>
<% if current_user %>
    <% if current_user.is_admin? || current_user.is_planer? || (current_user.is_superadmin? && current_user.company_id?)%>
      <div class="page-header">
        <h1>Fahrzeuge</h1>
      </div>
      <% if current_user.company.nil? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher kein Fahrzeug anlegen.</div>
      <% else %>
        <%= link_to (fa_icon "plus 1x") + " " + t('.new', :default => t("helpers.links.new")), new_vehicle_path, :class => 'btn btn-primary btn-smart' %>
        <hr/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:position) %></th>
              <th class="center"><%= model_class.human_attribute_name(:capacity) %></th>
              <th><%= model_class.human_attribute_name(:driver) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.position %></td>
                <td class="center"><%= vehicle.capacity %></td>
                <% if vehicle.driver %>
                <td><%= vehicle.driver.name %></td>
                <% else %>
                <td>-</td>
                <% end %>
                <td>
                  <%= link_to (fa_icon "search-plus 1x"), vehicle, :title =>  t('helpers.links.show'), :class => 'btn btn-info btn-xs' %>
                  <%= link_to (fa_icon "pencil 1x"), edit_vehicle_path(vehicle), :title => t('helpers.links.edit'), :class => 'btn btn-warning btn-xs' %>
                  <%= link_to (fa_icon "trash 1x"), vehicle, method: :delete, data: { confirm: t('helpers.links.confirm') }, :title => t('helpers.links.destroy'), :class => 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
