<% if current_user && (current_user.is_admin? || current_user.is_superadmin?) %>
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => User %></h1>
    </div>


  <%= simple_form_for @user_form, validate: true do |f| %>
    <%= f.input :nickname, prompt: :translate %>
    <%= f.input :email, prompt: :translate %>
    <%= f.input :password, prompt: :translate %>
    <% if current_user.role == "admin" %>
    <%= f.input :role, :collection => {t('planer')  => 'planer', t('driver') => 'driver'}, prompt: :translate %>
    <% elsif current_user.role == "superadmin"%>
    <%= f.input :role, :collection => {t('admin')  => 'admin', t('planer')  => 'planer', t('driver') => 'driver'}, prompt: :translate %>
    <% end %>
    <div id="driver">
    <div id="driver_heading"><b><%=t('driver_properties') %></b></div>
   <% if  current_user.company.capacity_restriction? %>
   <div id="working_time_heading"><b><%=t('attributes.working_time') %></b></div>
    <%= f.hidden_field :working_time, as: :integer, prompt: :translate %>

     <div class="form-inline">

       <div class="form-group">
       <%= f.label :hour %>:
          <div class="form-inline">   
          <%= f.input :hour, collection: (0..23), selected: 0,label: false %>
          <b>:</b>
          </div>
       </div>

       <div class="form-group">
       <%= f.label :minute %>:
          <div class="form-inline">   
          <%= f.input :minute, collection: (0..59), selected: 0, label: false  %>
          </div>
       </div>
    </div>
   <% end %>

    <%= f.input :active, as: :boolean, prompt: :translate %>
    </div>
    <%= f.button :submit, prompt: :translate %>
  <% end %>

<% else %>
  ZUGANG VERWEIGERT
<% end %>