<%- model_class = Depot -%>
<% if current_user %>
    <% if (current_user.is_superadmin? && current_user.company_id?) || current_user.is_admin? %>
      <div class="page-header">
        <h1>Depot</h1>
      </div>
      <% if current_user.company.nil? %>
        <div class="alert alert-info">Ihrem Benutzeraccount wurde noch kein Unternehmen zugewiesen. Sie können daher kein Depot anlegen.</div>
      <% else %>
	      <%= link_to t('.new', :default => t("helpers.links.new")), new_depot_path, :class => 'btn btn-primary btn-smart' %>
        <hr/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Unternehmen</th>
              <th>Name</th>
              <th>Adresse</th>
              <th>Einladedauer<br/>[hh:mm:ss]</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @depots.each do |depot| %>
              <tr>
                <td><%= depot.company.name %></td>
                <td><%= depot.name %></td>
                <td><%= depot.address %></td>
                <td><%= Time.at(depot.duration * 60).utc.strftime("%H:%M:%S") %></td>
                <td>
                  <%= link_to t('helpers.links.show'), depot, :class => 'btn btn-info btn-xs' %>
                  <%= link_to t('helpers.links.edit'), edit_depot_path(depot), :class => 'btn btn-warning btn-xs' %>
                  <%= link_to t('helpers.links.destroy'), depot, method: :delete, data: { confirm: t('helpers.links.confirm') }, :class => 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    <% else %>
    ZUGANG VERWEIGERT
    <% end %>
<% else %>
ZUGANG VERWEIGERT
<% end %>
